@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.gameCenter {
     -fx-background-image: url(/images/bg.jpg);
     -fx-width:100%;

}

.inputBar {
    -fx-background-color: white;
    -fx-padding: 15;
    -fx-spacing: 10;
}

.toolBar {
    -fx-background-color: white;
    -fx-margin: 0,10,0,10;
}


.hbox {
	-fx-background-color: white;
  font-family: Avenir;
  font-size: 24px;
  position: absolute;
}


#wordStyle {
   -fx-font-size: 24px;
   -fx-font-family: "Ubuntu";
   -fx-stroke: black;
   -fx-fill: black;
 }

 #userInputRect {

  
 }


