@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.gameCenter {
     -fx-background-image: url(/images/bg.jpg);
     -fx-width:100%;
     -fx-height:100%;
     padding: 0px;
     position: absolute;
}

.inputBar {
    -fx-background-color: white;
    -fx-padding: 15;
    -fx-spacing: 10;
}

.toolBar {
    -fx-background-color: white;
    -fx-margin: 0,10,0,10;
}


.hbox {
	-fx-background-color: white;
  font-family: Avenir;
  font-size: 24px;
  position: absolute;
}


#wordStyle {
   -fx-font-size: 16px;
   -fx-font-family: "Ubuntu";
   -fx-stroke: black;
   -fx-fill: black;
 }

 #buttonStyle {

 -fx-text-fill: white;
    -fx-font-family: "Avenir";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
   
 }

 #buttonStyleRestart {

  -fx-text-fill: white;
    -fx-font-family: "Avenir";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );

 }


